/* Common */

*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

.my-spacing{
    margin-bottom: 120px;
}

/* Text */

.caption{
    margin-bottom:0;
}

/* Debug - delete later */

.debug .header-top{
    height:50px;
    background-color: #000;
    z-index:100;
}

.box-adaptive{
    background-color: red;
    width:100%;
    height:200px;
}

.debug .jumbotron, #cta{
    width:100%;
    height:600px;
    background-color: aqua;
}

#playstation-5{
    height:800px;
}

/* Header */

#stickynav{
    width:100%;
    height:80px;
    background-color: lightgrey;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Play5 - 1 section */

