/* Common */

*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

.my-spacing{
    margin-bottom: 100px;
}

/* Text */

.caption{
    margin-bottom:0;
    color: rgb(45, 100, 230);
}


/* Debug - delete later */

.debug .header-top{
    height:50px;
    background-color: #000;
    z-index:100;
}

.debug footer{
    background-color: blue;
}

.box-adaptive{
    background-color: red;
    width:100%;
    height:200px;
}

.debug .jumbotron, #game-cta, #explore-cta, #now-cta{
    width:100%;
    height:600px;
    background-color: aqua;
}

#explore-cta, #now-cta{
    height:400px;
}

.debug #new{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

/* Header */

.sticky-top{
    width:100%;
    height:80px;
    background-color: lightgrey;
}

/* Jumbotron */

.jumbotron{
    height:700px;
    background:transparent url(../img/jumbo-bg.png) scroll no-repeat 50% 0;
    background-size: cover;
    color:rgb(255, 255, 255);
}

.jumbotron img{
    width:100%;
    margin-left:-7px;
}

.btn-red{
    color:rgb(255, 255, 255);
    background-color: rgba(205, 61, 15, 1);
}

.btn-red:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(172, 52, 13);
}

/* Play5 - 1 section */

.cardnav-container img{
    width:100%;
    border-radius: 2rem !important;
}

.cardnav-active{
    border:2px solid rgb(45, 100, 230);
}   

.card{
    border:none;
}

.card img{
    margin:auto;
}

.console-card-active{
    padding-bottom:40px;
    border-bottom:2px solid rgb(45, 100, 230);
}
